{% extends 'nav_base.html' %}
{% block content %}
    <form role="form" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            <div class="input-group">
                {{ form.name.label(class="h4") }}<br>
                {{ form.name(class="form-control ", style="width: 500px; border-radius:3px;", placeholder="Username") }}
            </div>
            <div class="input-group">
                {{ form.body.label(class="h4") }}<br>
                {{ form.body(class="form-control", placeholder="Please Enter Your Message", rows="3", style="width: 500px;resize: none; border-radius:3px;") }}
            </div>
            {{ form.submit(class="btn btn-primary", type="submit", style="margin-top: 10px;") }}
        </div>
    </form>
    <h4>{{ messages|length }} Messages</h4>
    <div class="list-group" style="width: 500px">
        {% for message in messages %}
            <a class="list-group-item" href={{ url_for('replyPage', message_id=message.id) }}>
                <h4 class="list-group-item-heading">{{ message.name }}</h4>
                <p class="list-group-item-text" style="width: 490px; word-break: break-all; word-wrap: break-word">{{ message.body }}</p>
                <small style="right: 0">
                    最后回复:{{ message.timestamp.strftime('%Y/%m/%d %H:%M') }}&nbsp;&nbsp;
                </small>
                <small>点击量:{{ message.clickNum }}&nbsp;&nbsp;</small>
                <small>回复数:{{ message.replyNum }}</small>
            </a>
        {% endfor %}
    </div>
{% endblock content %}